{% extends 'base.html' %}
{% load static %}
{%block content %}
<style>
  .card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
  }

  .card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    /* Set a fixed height for the images */
    margin-bottom: 10px;
    /* Ensure images maintain their aspect ratio */
  }

  .card h5 {
    margin-top: 0;
  }

  .card p {
    margin-bottom: 10px;
  }
  .card .price{
    font-weight: bold;
    color: green;
  }
</style>

<div class="container">
  <section class="hero">
    <h1>Services</h1>
  </section>
  <div class="row">
    {% for service in services %}
    <div class="col-md-4">
      <div class="card rounded-4">
        <img src="{{ service.image.url }}" alt="{{ service.name }}">
        <h5>{{ service.get_name_display }}</h5>
        <p>{{ service.description }}</p>
        <p class="price">Price: R{{ service.price }}</p>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Add another card here for the third row -->
</div>
{% endblock %}