:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #f8f9fa;
  --hover_brand: #d352d3cf;
}
.login-card{
width: 550px;
margin: 0 auto;
margin-top: 50px;
border: 2px solid #e75aa0;
border-radius: 5px;
padding: 20px;
}

.login-card .card-title {
  background-color: #FF69B4;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-top: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.login-card:hover{
  box-shadow: 0 0 0 4px var(--hover_brand);
}
