.login-card{
width: 750px;
margin: 0 auto;
margin-top: 50px;
border: 1px solid #ccc;
border-radius: 5px;
padding: 20px;}
.login-card .card-title {
  background-color: #FF69B4;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-top: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
