{% extends 'base.html' %}

{% block content %}

<br />
<br />
<div class="container">
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
{% endif %}
</div>

<div class="login-card mt-2">
  <div class="card-body">
    <h5 class="card-title">Register</h5>
  <form method="POST">
    {% csrf_token %}
    
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" name="username">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input class="form-control" type="password" name="password"/>
    </div>
   
    
    <div class="mb-3">
      <label for="confirm_password">Confirm Password</label>
      <input class="form-control" type="password" id="confirm_password" name="confirm_password" required>
    </div>
    
    <input type="submit" value="Submit" class="btn btn-info" />
  </form>
  
  <p>Already have an account? Click <a href="{% url 'login' %}">here to login</a>.</p>
  </div>
</div>



{% endblock %}